.button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-family: var(--font);
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  font-size: 16px;
  font-weight: 500;

  color: var(--white-color);
}
.accent {
  background: var(--primary-hover-color);
}
.accent:hover {
  background: var(--primary-color);
}
